/**
 * This file copies styling from UBC CLF 7.0.3 and applies it to input elements across the board.
 */

input:not(.btn):not([type="submit"]) {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #FFF;
}

input:not(.btn):not([type="submit"]):hover {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="submit"] {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(top,#FFF,#E6E6E6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
    background-image: -o-linear-gradient(top,#FFF,#E6E6E6);
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);

    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    background-color: #002145;
    background-image: -ms-linear-gradient(top, #002145, #191938);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #002145),to( #191938));
    background-image: -webkit-linear-gradient(top, #002145, #191938);
    background-image: -o-linear-gradient(top, #002145, #191938);
    background-image: linear-gradient(to bottom, #002145, #191938);
    background-image: -moz-linear-gradient(top, #002145, #191938);
    background-repeat: repeat-x;
    border: 1px solid #191938;
    border-color: rgba(25, 25, 56, .5);
    border-color: #002145;
    color: #FFF;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='@ubc-blue', endColorstr='@ubc-blue-dark', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    text-decoration: none;
    text-shadow: none;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

input[type="submit"]:hover {
    background-color: #2F5D7C;
    border-color: #2F5D7C;
    color: #FFF;
    
    background-position: 0 -200px;
    color: #FFF;
    text-decoration: none;
    text-shadow: none;
}