@media (max-width: 979px) {
    div#mw-head {
        padding-left: 0;
    }
    
    div#mw-head-inner {
        margin-top: 0;
    }
    
    div#mw-panel {
        display: inline-block;
        position: static;
        width: 100%;
    }
    
    div#mw-panel #p-logo {
        float: left;
    }
    
    div#mw-panel div.portal {
        float: left;
        width: 50%;
        padding-bottom: 0;
    }
    
    div#mw-panel div.portal h5 {
        padding-left: 12px;
    }
    
    div#mw-panel div.portal div.body {
        margin-left: 0;
    }
    
    div#mw-panel #p-logo {
        position: static;
    }
    
    div#footer,
    div#content {
        margin-left: 0;
    }
    
    div#content {
        background: none;
    }
    
    div#mw-panel li > a {
        width: 9em;
        padding-top: 0.66em;
        padding-bottom: 0.66em;
        padding-right: 1em;
        padding-left: 1em;
        float: left;
        margin-top: -2px;
        margin-bottom: -2px;
    }
    
    div#mw-panel div.portal div.body ul li {
        display: inline-block;
        line-height: 1em;
        padding: 0;
    }
    
    div#mw-panel div.portal div.body ul li a:hover {
        background-color: #2F5D7C;
        color: #FFF;
        text-decoration: none;
        text-shadow: none;
    }
}

@media (max-width: 767px) {
    div#mw-panel #p-links {
        margin-left: 0;
    }
    
    div.vectorMenu ul {
        right: 0;
    }
    
    div#content {
        padding-left: 0;
        padding-right: 0;
    }
    
    #ubcclf-banner {
        height: auto;
    }
    
    #ubcclf-banner img {
        position: static;
    }
    
    #ubcclf-intro {
        padding: 0;
        margin: 0;
        width: auto;
    }
}

/* ===== SPECIAL PAGE FIXES ===== */
